<p id="notice"><%= notice %></p>

<style>
  .index-image-wrapper {
    float:left;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 2px;
  }
</style>

<div class="row">
  <% @images.each do |image| %>
    <div class="index-image-wrapper">
      <%= image_tag image.image.url, style: "width:200px; height:200px" %>
    </div>
  <% end %>
</div>

<%= link_to 'New Image', new_image_path %>
